<header>
  <h1>LA PALABRA</h1>
  <h2>DEL DÍA</h2>
</header>
<section class="game-container" *ngIf="showBoard">
  <div class="game-board">
    <div id="{{'row-' + i.toString()}}" class="row-board" *ngFor="let in of [0,1,2,3,4,5];let i = index">
      <div class="cell-container" id="{{i.toString() +'0'}}"></div>
      <div class="cell-container" id="{{i.toString() +'1'}}"></div>
      <div class="cell-container" id="{{i.toString() +'2'}}"></div>
      <div class="cell-container" id="{{i.toString() +'3'}}"></div>
      <div class="cell-container" id="{{i.toString() +'4'}}"></div>
    </div>
  </div>
  <div class="container-input">
    <form [formGroup]="wordForm">
      <input type="text" formControlName="word" maxlength="5">
    </form>
    <button [disabled]="disabledButton" (click)="checkWord()">COMPROBAR</button>
  </div>
</section>